<!DOCTYPE html>
<html>
<head>
  <title>File Upload with Language Selection</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <style>

    #file-upload {
      margin: 0 auto;
      width: 50%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border: 1px solid #ced4da;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  {% if result %}
    <p>You have selected {{ result }}</p>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="post" action="{% url 'hindi_english' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="file-upload">Select a File:</label>
            <input type="file" name='image' class="form-control-file" id="file-upload" required>
          </div>
          <div class="form-group">
            <label for="language-select">Select Language:</label>
            <select class="form-control" name='language-select' id="language-select">
              <option value="hindi">Hindi</option>
              <option value="english">English</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
